/*
Extend the main theme.
Separate file because the main theme is likely to change or be generated.
All settings are flagged as "!important" to ensure that they overwrite the Dark Reader and Read the Docs theme.
*/

/* max-width of the content field (content roughly the same as discord with people online section shown */
.wy-nav-content {
    max-width: 90% !important;
    /* max-width: 100% !important; */
    /* set to always 85% ? */
}

/* global image max size (maybe scaling ?) */
img {
    max-width: 560px !important;
    height: auto !important;
}

.embed-container {
    max-width: 5600px !important;
}

iframe {
    max-width: 100vw !important;
    max-height: 56.25vw !important;
    /* height: auto !important; */
}

/* should use body width, for now a rough estimation is fine */
@media (max-width: 1070px) {
    img {
        max-width: 100% !important;
    }

    .embed-container {
        max-width: 100% !important;
    }

    iframe {
        max-width: 100% !important;
    }
}

/* inline code literal color set to code block color */
.rst-content code.literal, .rst-content tt.literal {
    color: rgb(192, 186, 178) !important;
    white-space: break-spaces !important;
}

/* settings for every section (mainly <p></p>) */
.section {
    word-wrap: break-word !important;
}

/* unused body section (right of the screen) consistent background color fix */
.wy-body-for-nav {
    background-color: #17191a !important;
}

/* highlighted text after search */
.rst-content .highlighted {
    background-color: #8e4221 !important;
    box-shadow: #8e4221 0px 0px 0px 2px !important;
}