/*
Extend the main theme.
Separate file because the main theme is likely to change or be generated.
*/
.wy-nav-content {
    max-width: 85% !important;
    /* set to always 85% ? */
}


img {
    max-width: 800px !important;
    max-height: 500px !important;
}


.rst-content code.literal, .rst-content tt.literal {
    color: rgb(192, 186, 178) !important;
}