/*
Extend the main theme.
Separate file because the main theme is likely to change or be generated.
*/
.wy-nav-content {
    max-width: 85% !important;
    /* set to always 85% ? */
}


img{
    max-width: 60% !important;
    max-height: 400px !important;
}
